@import url("style.css");
@import url("list.css");
@import url("modal.css");
@import url("dashboard.css");

/* Basic Reset & Box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
